![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [79]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [80]:
math_schools = schools[['school_name', 'average_math']]
math_schools['percent'] = math_schools['average_math'] / 800
math_schools_pct80 = math_schools[math_schools['percent'] >= 0.8]
math_schools_pct80_sorted = math_schools_pct80.sort_values('average_math', ascending=False)
best_math_schools = math_schools_pct80_sorted[['school_name', 'average_math']]

In [81]:

combined_SAT_schools = schools[['borough', 'school_name', 'average_math', 'average_reading', 'average_writing']]
combined_SAT_schools['total_SAT'] = combined_SAT_schools['average_math'] + combined_SAT_schools['average_reading'] + combined_SAT_schools['average_writing']
combined_SAT_schools_sorted = combined_SAT_schools.sort_values('total_SAT', ascending=False)
top_10_schools = combined_SAT_schools_sorted.head(n=10)[['school_name', 'total_SAT']]

In [82]:
combined_SAT_schools_described = combined_SAT_schools.groupby('borough')['total_SAT'].describe()
combined_SAT_schools_stats = combined_SAT_schools_described[['count', 'mean', 'std']].round(2)
combined_SAT_schools_stats.columns = ['num_schools', 'average_SAT', 'std_SAT']
largest_std_dev = combined_SAT_schools_stats.sort_values('std_SAT', ascending=False)[:1]